{% extends 'users/base.html' %}

{% block title %}{{garden.name}}{% endblock %}

{% block content %}
<script>


</script>

<div class="row" align="center">
    <div class="col-sm-12">
        <a href='{% url "blog" user.username garden.name %}'>        
            <div class = "card text-white pt-3 mb-2" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{current_url}}'); 
            background-position: center; background-size:100%; background-size:cover; height: 122px">
                <div class = "card-body text-center pt-2 pl-0 pr-0">
                    <center><h3>{{garden.name}}</h3></center>
                    <h3>
                       temp:{{garden.current_temp}} humidity:{{garden.current_humidity}}
                    </h3>        
                </div>
            </div>
        </a>
    </div>
    {% for outlet in garden.outlet_set.all %}
    {% if outlet.number != 5 %}
    <div class="col-sm-6">
    {% else %}
    <div class="col-sm-12">
    {% endif %}
    <a href='{% url "outlet" user.username garden.name outlet.number %}'  class="text-white">
        <div class="card text-white bg-{{outlet.color}} mb-2 mt-2">
            <div class="card-header pr-0 pl-0" style="height:122px">
                <h4 class="card-title align-middle">
                        {% if outlet.number == 5 %} LED:{%else%}{{outlet.number}}:{% endif %} {{outlet.get_style_display}} 
                </h4>
                <button class = "btn btn-outline-light btn-sm jbut" 
                type="button" value='{{outlet.number}}' id="outlet_button{{outlet.number}}">
                    <i class="material-icons" style="font-size:36px;" id="outlet_icon{{outlet.number}}">
                        {% if outlet.is_on %} power {% else %} power_off {% endif %}
                    </i>
                </button>
            </div>
        </div>
    </a>
    </div>
    {% endfor %}
</div>


<script type=text/javascript>
    // Change the toggle button if box changes

    var roomName = {{room_name_json}};
    var loadSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/garden/' + roomName + '/');


    loadSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var is_on = data['is_on'];
        var outlet = data['outlet'];
        var garden_serial = '{{garden.serial}}';        
        
        if (is_on == true){
            var is_on_text = "power"
            var new_value = "True"
        }else{
            var is_on_text = "power_off"
            var new_value = "False"
        }

        $("#outlet_icon"+String(outlet)).text(is_on_text);
        $.ajax({
                url : "{% url 'variable_change' garden.serial  %}",
                type : 'POST',
                data : {type : "data_exchange", garden_serial : garden_serial, 
                               outlet_number : outlet, variable : 'is_on', new_value : new_value},
                dataType : 'json',
                success : function(data) {
                }
            });
    };
    
    // Make the toggle buttons
    $(function() {
        $('.jbut').bind('click', function(){
            var outlet_num = $(this).val();
            var garden_ser = '{{garden.serial}}';
            
            $.ajax({
                url : "{% url 'toggler' garden.name %}",
                type : 'POST',
                data : {outlet_num : parseInt(outlet_num), garden_ser : "{{garden.serial}}"},
                dataType : 'json',
                success : function(data) {
                    $("#outlet_icon"+String(outlet_num)).text(data['button_state']);
                }
            });
            return false;
        });
    });


</script>
{% endblock %}