<!-- templates/base.html -->
<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    {% load static %}
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'scss/custom.css' %}">
    
    <!-- Overide bootstrap with your own shit -->
    <link rel="stylesheet" href="{% static 'scss/my_css.css' %}">
    
    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto|Righteous" rel="stylesheet">
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <!-- Script to pass csrf token through ajax -->
    <script>
      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    </script>

    <title>{% block title %}motherbrainLED{% endblock %}</title>
  </head>
  <body>
    <main>
      
            <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a href="{% url 'index' %}"><img src="{% static 'logosmall.png' %}" width=35 class="mr-3"></a>
        {% if garden == None %}
          <a class="navbar-brand" href="{% url 'index' %}">motherbrainLED</a>
        {% else %}
          <a class="navbar-brand" href="{% url 'garden' user.username garden.name %}">{{user}}: {{garden}}</a>
        {% endif %}
        
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav mr-auto"></ul>
        <form class = "form-inline my-2 my-lg-0">
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            {% if user.is_authenticated %}
                <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'gardens' user.username %}">Gardens</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'profile' user.username %}">Profile: {{user}}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">Log out</a>
                </li>
              </ul>
            {% else %}
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'signup' %}">Sign up</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Log in</a>
                </li>
              </ul>
            {% endif %}
          </div>
        </form>
      </nav>
      
      <!-- All content goes here -->
      <div class = "container">
        {% block content %}
        {% endblock %}
      </div>
    </main>
 </body>
</html>