{% extends 'users/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<center><h3>motherbrainLED</h3>

<img src="{{MEDIA_URL}}boxphoto.jpg" width=80%>
</center><br>
<ul>
    <li>2 Cree CXB3590 (enough for a 2' x 2' grow)  </li>
    <li>Wireless Control from your phone, computer, anywhere</li>
    <li>4 programmable outlets with preset modes for common garden devices</li>
    <li>Thermometer and hygrometer included, more climate sensors coming soon</li>
    <li>Camera to see the garden any time</li>
    <li>Automatic safety shutoffs</li>
    <li>15amp surge protection for anything plugged in</li>
</ul>
Email for more information: <a href="mailto:motherbrainled@gmail.com">motherbrainLED@gmail.com</a>
{% endblock %}